---
- block:
    - name: create temporary directory
      file:
        path: "{{ temp_directory }}/ks_iso"
        state: directory

    - name: create ks.cfg file
      template:
        src: "{{ linux_ks_folder }}/ks.cfg.j2"
        dest: "{{ temp_directory }}/ks_iso/ks.cfg"

    - name: create iso
      command: >
        mkisofs -U -A "OEMDRV" -V "OEMDRV"
        -volset "OEMDRV" -J -joliet-long -r -v -T
        -o {{ playbook_dir }}/{{ temp_directory }}/linux_{{ linux_distro_name }}_ks_autogen.iso .
      args:
        chdir: "{{ playbook_dir }}/{{ temp_directory }}/ks_iso"

    - include_tasks: datastore_upload.yml
  always:
    - name: remove temporary files
      file:
        path: "{{ temp_directory }}/{{ item }}"
        state: absent
      loop:
        - linux_{{ linux_distro_name }}_ks_autogen.iso
        - ks_iso/